* text=auto
mysql-test/**/*.result text eol=lf
mysql-test/**/*.test text eol=lf
mysql-test/**/*.inc text eol=lf
mysql-test/**/*.opt text eol=lf
mysql-test/**/*.require text eol=lf
*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
*.am text eol=lf
*.in text eol=lf
CMakeLists.txt text eol=lf
Makefile text eol=lf
Makefile.* text eol=lf
*.sh text eol=lf
*.lua text eol=lf
*.sql text eol=lf
*.ps1 text eol=crlf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
README text eol=lf
LICENSE text eol=lf
